<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
    <script src="/static/js/login.js"></script>

    <meta charset="UTF-8">
   
    <title>login</title>
    
</head>

<body>

    <div id="container" >
     
        <div id="header">
            <div  id = "navbar" >
                <a>🐱</a>
                <a href="/msgBox">收件箱</a> 
                <a href="/manageSubs">订阅管理</a> 
                <a href="/txtdownload">文章下载</a>
                <a href="/login">登录</a>
                <a href="/signup">注册</a>
            </div> 
        </div>

        
        <div id="page" >

            <div id ="loadingbox">  
                <div id = "loginheader" >
                    <p style="margin: 20px;">哥几个又来看同人呐？</p>
                </div>

                  <!-- form表单使用xsrf防护， 提交时不需要做特殊处理，只需要在form标签里获取后端传过来的xsrf key即可 -->
                <form  name="myForm" id="form">

                    {{.xsrfdata}}     <!-- 获取get请求时后端传过来的xsrf防护的key -->
                    
                    <div id = "in">
                        <p><input type="text" name="email" required placeholder="请输入注册时用的邮箱"/></p>
                        <p><input type="password" name="pw" required placeholder="请输入密码"/></p>
                    </div>
                    <div id="loginResult"></div>
                    <div id="butDiv">
                        <input type="button" onclick="login(form)" value="LOGIN"  id="but">
                    </div>
                    
                </form>
                
            </div>

        </div>  
    </div>

</body>